<body>
    <div class="container">
        <div class="left">
            <img src="/assets/images/1.png" class="logo" >
            <ul>
                <a href="/dashboard"><i class="fas fa-home"></i> Home</a>
                <a href="#"><i class="fas fa-tasks"></i> Completed Tasks</a>
               <a href="#"><i class="fas fa-bell"></i> Notifications</a>
               <a href=""><i class="fas fa-calendar"></i>Calendar</a>
            </ul>
        </div>
        <div class="right">
            <div class="card">
                <div class="profile-header">
                    <img src="/assets/images/m.png" alt="Profile Image">
                   
                </div>
                <div class="info">
                    <h3>Informations Personnelles</h3>
                    <ul>
                        <li><strong>Nom Complet :</strong> Jihen Dhieb</li>
                        <li><strong>Email :</strong> jihen.dhieb</li>
                        <li><strong>Téléphone :</strong> +216 12 345 678</li>
                    </ul>
                </div>
            </div>
            

        </div>
    </div>
</body>