form{
  justify-content: space-between;
  width: 370px; /* Set the width to 1000px */
  height: 250px; /* Set the height to 500px */
  background-color: white; /* White background for the form */
  padding: 20px; /* Add padding for better spacing */
  border-radius: 24px; /* Rounded corners for the form */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}
.forget{
    margin: 0px 40px;
}
p{
    margin-left: 30px;
    margin-right: 0px;
    font-family: 'lato' sans-serif; 
     margin-top: 0px;
     font-size: 12.64px;
     color: #89868D;
   }
   h2 {
     margin-left: 40px;
     margin-right: 0px;
     color: #3A3541; /* Heading color */
     margin-bottom: 10px; /* Space below the heading */
   }
   
   label {
     display: block; /* Make labels take full width */
     margin-top: 10px; /* Space above labels */
     font-size: 14.22px;
     color:#3A3541;
   }
   
   input {
     background-color: #f7f8fa;
     margin-top: 10px; /* Space above inputs */
     padding: 8px; /* Padding for input fields */
     border: 1px solid #ccc; /* Border for input fields */
     width: 90%; /* Full width of the parent container */
     border-radius: 4px;
     box-sizing: border-box; /* Include padding and border in width */
   }
   .reset-password{
    margin-top: 20px; /* Space above the button */
    margin-bottom: 20px;
  padding: 8px; /* Padding for the button */
  background-color: #6E39CB; /* Green background */
  color: white;
  border: none;
  border-radius: 8px; /* Rounded corners for button */
  width: 90%; /* Make button take the full width of the form */
  cursor: pointer; /* Change cursor to pointer on hover */
   }
   .reset-password:hover {
    background-color: #c581e2; /* Darker green on hover */
  }
  .back-to-login{
    margin: 100px 100px;
    font-size: 12.62px;
  font-family: 'lato'sans-serif;

  color: #6E39CB; 
  }